* {
	margin: 0;
	padding: 0;
}


body {
	background-color: #8bf0ff;
	background-image: url(./../image/backgroundfixed.png);
}





#cloud1 {
	width: 234px;
	height: 163px;
	position: fixed;
	top: 10px;
	animation-name: cloud1;
	animation-duration: 11s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#cloud2 {
	width: 355px;
	height: 190px;
	position: fixed;
	top: 10px;
	right: 1900px;
	animation-name: cloud2;
	animation-delay: 3s;
	animation-duration: 9s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#cloud3 {
	width: 355px;
	height: 190px;
	position: fixed;
	top: 10px;
	right: 2100px;
	animation-name: cloud3;
	animation-delay: 7s;
	animation-duration: 14s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}


#cloud4 {
	width: 355px;
	height: 190px;
	position: fixed;
	top: 10px;
	right: 2100px;
	animation-name: cloud4;
	animation-delay: 1s;
	animation-duration: 18s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}


#cloud5 {
	width: 355px;
	height: 190px;
	position: fixed;
	top: 10px;
	right: 1900px;
	animation-name: cloud5;
	animation-delay: 4s;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}






#mixo {
	position: fixed;
	bottom: 1382px;
	z-index: 2;
	right: 490px;
	animation-name: mixo;
	animation-duration: 13s;
	animation-iteration-count: 1;
	animation-delay: 0s;
	animation-timing-function: ease-in-out;
}



#maro {
	position: fixed;
	bottom: 192px;
	z-index: 2;
	right: 342px;
	animation-name: maro;
	animation-duration: 10s;
	animation-iteration-count: 1;
	animation-delay: 0s;
	animation-timing-function: ease-in-out;
}



#map {
	position: fixed;
	bottom: 0px;
	animation-name: map;
	animation-duration: 10s;
	animation-iteration-count: 1;
	animation-delay: 0s;
	animation-timing-function: ease-in-out;
	left: -1644px;
}



#qvevri {
	width: 74px;
	height: 72px;
	bottom: 192px;
	right: 1648px;
	position: fixed;
	animation-name: qvevri;
	animation-duration: 10s;
	animation-iteration-count: 1;
	animation-delay: 0s;
	animation-timing-function: ease-in-out;
}

#qvevri2 {
	width: 74px;
	height: 72px;
	bottom: 192px;
	right: 652px;
	position: fixed;
	animation-name: qvevri2;
	animation-duration: 10s;
	animation-iteration-count: 1;
	animation-delay: 0s;
	animation-timing-function: ease-in-out;
}


#mixo2 {
	position: fixed;
	bottom: 0px;
	z-index: 0;
	animation-name: mixomovida;
	animation-duration: 15s;
	animation-iteration-count: 1;
	animation-delay: 0s;
	animation-timing-function: ease-in-out;
}



#mixo3 {
	position: fixed;
	bottom: 192px;
	right: 421px;
	z-index: 0;
	animation-name: mixotomaro;
	animation-duration: 18s;
	animation-iteration-count: 1;
	animation-delay: 0s;
	animation-timing-function: ease-in-out;
}







@keyframes mixo {
	
	0% {
	  left: 500px;
	  bottom: 192px;
	  transform: rotate(-35deg);
	}


	5% {
		transform: rotate(35deg);
	}

	10% {
		transform: rotate(-35deg);
	}

	15% {
		transform: rotate(35deg);
	}

	20% {
		transform: rotate(-35deg);
	}

	25% {
		transform: rotate(35deg);
	}

	27% {
		transform: rotate(-35deg);
	}

	34% {
		transform: rotate(35deg);
	}

	39% {
	  transform: rotate(0deg);
	  left: 500px;
	  bottom: 192px;
	}
	

	41% {
		left: 630px;
		bottom: 460px;
	}


	44% {
		bottom: 1500px;
	}



	100% {
	  bottom: 1382px;
	}

}






@keyframes mixomovida {
	0% {
	    bottom: 1382px;
	    right: 1661px;
	}


	60% {
		bottom: 1382px;
	    right: 1661px;
	}


	70% {
		bottom: 0px;
		right: 1661px;
	}



	99% {
		bottom: 0px;
		right: 1661px;
	}
}




@keyframes mixotomaro {
	0% {
		bottom: 0px;
		right: 665px
	}


	80% {
		bottom: 0px;
		right: 665px
	}


	83% {
		bottom: 500px;
		right: 665px;
	}


	87% {
		bottom: 192px;
		right: 481px;
	}

	100% {
		bottom: 192px;
		right: 421px;
	}
}














@keyframes map {
	
	0% {
	  left: 0px;
	}

	


	100% {
	  left: -1644px;
	}

}



@keyframes maro {
	
	0% {
	  right: -1600px;
	}

	


	100% {
	  right: 342px;
	}

}



@keyframes qvevri {
	
	0% {
	  right: 75px;
	}

	


	100% {
	  right: 1648px;
	}

}


@keyframes qvevri2 {
	
	0% {
	  right: -1000px;
	}

	


	100% {
	  right: 652px;
	}

}




















@keyframes cloud1 {
	
	0% {
	  left: 1995px;
	}

	

	100% {
	  left: -438px;
	}

}


@keyframes cloud2 {
	
	0% {
	  left: 1995px;
	}

	

	100% {
	  left: -438px;
	}

}


@keyframes cloud3 {
	
	0% {
	  left: 1995px;
	}

	

	100% {
	  left: -438px;
	}

}


@keyframes cloud4 {
	
	0% {
	  left: 1995px;
	}

	

	100% {
	  left: -438px;
	}

}


@keyframes cloud5 {
	
	0% {
	  left: 1995px;
	}

	

	100% {
	  left: -438px;
	}

}


