* {
	margin: 0;
	padding: 0;
}


body {
	background-color: #7686ff;
}





.yellow {
	width: 971px;
	height: 110px;
	transform: scale(2.3);
	top: 739px;
	position: absolute;
	animation-name: box;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	top: 590px;
}     




@keyframes box {
	
	0% {
	  right: 0px;
	}

	

	100% {
	  	  right: 971px;
	}


}