* {
	margin: 0;
	padding: 0;
}


body {
	background-color: #8bf0ff;
}




#cloud1 {
	width: 234px;
	height: 163px;
	position: fixed;
	top: 10px;
	animation-name: cloud1;
	animation-duration: 11s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#cloud2 {
	width: 355px;
	height: 190px;
	position: fixed;
	top: 10px;
	right: 1900px;
	animation-name: cloud2;
	animation-delay: 3s;
	animation-duration: 9s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#cloud3 {
	width: 355px;
	height: 190px;
	position: fixed;
	top: 10px;
	right: 2100px;
	animation-name: cloud3;
	animation-delay: 7s;
	animation-duration: 14s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}


#cloud4 {
	width: 355px;
	height: 190px;
	position: fixed;
	top: 10px;
	right: 2100px;
	animation-name: cloud4;
	animation-delay: 1s;
	animation-duration: 18s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}


#cloud5 {
	width: 355px;
	height: 190px;
	position: fixed;
	top: 10px;
	right: 1900px;
	animation-name: cloud5;
	animation-delay: 4s;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}







#map {
	position: fixed;
	bottom: 0px;
	animation-name: map;
	animation-duration: 10s;
	animation-iteration-count: 1;
	animation-delay: 4s;
	animation-timing-function: ease-in-out;
	left: -1648px;
}










@keyframes map {
	
	0% {
	  left: 0px;
	}

	


	100% {
	  left: -1648px;
	}

}



@keyframes cloud1 {
	
	0% {
	  left: 1995px;
	}

	

	100% {
	  left: -438px;
	}

}


@keyframes cloud2 {
	
	0% {
	  left: 1995px;
	}

	

	100% {
	  left: -438px;
	}

}


@keyframes cloud3 {
	
	0% {
	  left: 1995px;
	}

	

	100% {
	  left: -438px;
	}

}


@keyframes cloud4 {
	
	0% {
	  left: 1995px;
	}

	

	100% {
	  left: -438px;
	}

}


@keyframes cloud5 {
	
	0% {
	  left: 1995px;
	}

	

	100% {
	  left: -438px;
	}

}


